<h1>RxJS Demo</h1>
<p>
  <button #button>Get Posts</button>
</p>
<p class="row">
  <span>Get single post per id:</span>
  <input type="number" placeholder="Type id" #input />
  <span class="error" *ngIf="error">{{ error }}</span>
</p>
<h2 *ngIf="postsWithUsers.length > 0">Posts</h2>
<ul>
  <li *ngFor="let postWithUser of postsWithUsers">
    <div class="row">
      <span>{{ postWithUser.post.id }}:</span>
      <div class="user">
        {{ postWithUser.user.name }} ({{ postWithUser.user.username }}):
      </div>
      <div class="post">{{ postWithUser.post.title }}</div>
    </div>
  </li>
</ul>
