p {
  font-family: Lato;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user {
  font-weight: bold;
}

.post {
  font-style: italic;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}
